progressbar {
    min-height: 30px;
    margin-top: 10px;
}

progressbar > trough {
    min-height: 30px;
}

progressbar > trough > progress {
    min-height: 30px;
    background-color: blue;
}

progressbar > text {
    font-style: italic;
    font-size: xx-large;
    color: cornflowerblue;
}
.text {
    font-size: 30px;
}
.comptext {
    font-size: 30px;
}